    <h3 class="h3" style="position:left;font-weight:bold">Mean Image and CompCor Masks
        of sub-placeholder ses-placeholder task-placeholder run-placeholder</h3>
    <p>This panel shows the mean functional image for sub-placeholder ses-placeholder task-placeholder run-placeholder in gray, and the corresponding
        anatomical (yellow) and temporal compcor mask.</p>
    <object data="preproc_func/sub-placeholder/sub-placeholder_ses-placeholder_task-placeholder_run-placeholder_overlays.svg" type="image/svg+xml"
        style="width:100%"></object>

    <h3 class="h3" style="position:left;font-weight:bold">Main confounds with highlighted outliers
        of sub-placeholder ses-placeholder task-placeholder run-placeholder</h3>
    <p>This panel shows the main confounds for sub-placeholder ses-placeholder task-placeholder run-placeholder. Shown are FD (Framewise Displacement)
        and DVARS, as well as the average signal in TV (total brain volume), GM (gray matter), WM (white matter) and CSF (cerebral
        spinal fluid). Vertical lines in black indicate outliers, as defined by threshold values.</p>
    <object data="preproc_func/sub-placeholder/sub-placeholder_ses-placeholder_task-placeholder_run-placeholder_confounds_main.svg" type="image/svg+xml"
        style="width:75%"></object>

    <h3 class="h3" style="position:left;font-weight:bold">Motion Parameters
        of sub-placeholder ses-placeholder task-placeholder run-placeholder</h3>
    <p>This panel shows the motion parameters for sub-placeholder ses-placeholder task-placeholder run-placeholder.</p>
    <object data="preproc_func/sub-placeholder/sub-placeholder_ses-placeholder_task-placeholder_run-placeholder_confounds_motion.svg" type="image/svg+xml"
        style="width:75%"></object>

    <h3 class="h3" style="position:left;font-weight:bold">Anatomical CompCor Components
        of sub-placeholder ses-placeholder task-placeholder run-placeholder</h3>
    <p>This panel shows the anatomical CompCor components for sub-placeholder ses-placeholder task-placeholder run-placeholder.</p>
    <object data="preproc_func/sub-placeholder/sub-placeholder_ses-placeholder_task-placeholder_run-placeholder_confounds_compA.svg" type="image/svg+xml"
        style="width:75%"></object>

    <h3 class="h3" style="position:left;font-weight:bold">Temporal CompCor Components
        of sub-placeholder ses-placeholder task-placeholder run-placeholder</h3>
    <p>This panel shows the temporal CompCor components for sub-placeholder ses-placeholder task-placeholder run-placeholder.</p>
    <object data="preproc_func/sub-placeholder/sub-placeholder_ses-placeholder_task-placeholder_run-placeholder_confounds_compT.svg" type="image/svg+xml"
        style="width:75%"></object>
