    <h3 class="h3" style="position:left;font-weight:bold">Mean Image and CompCor Masks
        of sub-placeholder ses-placeholder task-placeholder run-placeholder tFilter_placeholder</h3></h3>
    <p>This panel shows the mean functional image for sub-placeholder ses-placeholder task-placeholder run-placeholder in gray, and the brainmask (red)
        that was used to compute DVARS and the temporal (green) and anatomical (blue) CompCor mask.</p>
    <object data="preproc_func/sub-placeholder/sub-placeholder_ses-placeholder_task-placeholder_run-placeholder_tFilter_placeholder_overlays.png"
        style="width:75%"></object>

    <h3 class="h3" style="position:left;font-weight:bold">Carpet plot of the temporal
        filtered functional image of sub-placeholder ses-placeholder task-placeholder
        run-placeholder tFilter_placeholder</h3></h3>
    <p>This panel shows the signal for (almost) every voxel (y-axis), over time in volumes (x-axis).
        The panel shows voxel in the gray matter (top part), white matter (between blue and red line)
        and CSF (bottom section). The data was standardized to the global signal, and ordered
        within a given region according to correlation coefficient to the average signal.</p>
    <object data="preproc_func/sub-placeholder/sub-placeholder_ses-placeholder_task-placeholder_run-placeholder_tFilter_placeholder_carpet.png"
        style="width:75%"></object>

    <h3 class="h3" style="position:left;font-weight:bold">Main confounds with highlighted outliers
        of sub-placeholder ses-placeholder task-placeholder run-placeholder tFilter_placeholder</h3></h3>
    <p>This panel shows the main confounds for sub-placeholder ses-placeholder task-placeholder run-placeholder. Shown are FD (Framewise Displacement)
        and DVARS, as well as the average signal in TV (total brain volume), GM (gray matter), WM (white matter) and CSF (cerebral
        spinal fluid). Vertical lines in black indicate outliers, as defined by threshold values.</p>
    <object data="preproc_func/sub-placeholder/sub-placeholder_ses-placeholder_task-placeholder_run-placeholder_tFilter_placeholder_confounds_main.png"
        style="width:75%"></object>

    <h3 class="h3" style="position:left;font-weight:bold">Motion Parameters
        of sub-placeholder ses-placeholder task-placeholder run-placeholder tFilter_placeholder</h3></h3>
    <p>This panel shows the motion parameters for sub-placeholder ses-placeholder task-placeholder run-placeholder.</p>
    <object data="preproc_func/sub-placeholder/sub-placeholder_ses-placeholder_task-placeholder_run-placeholder_tFilter_placeholder_confounds_motion.png"
        style="width:75%"></object>

    <h3 class="h3" style="position:left;font-weight:bold">Anatomical CompCor Components
        of sub-placeholder ses-placeholder task-placeholder run-placeholder tFilter_placeholder</h3></h3>
    <p>This panel shows the anatomical CompCor components for sub-placeholder ses-placeholder task-placeholder run-placeholder.</p>
    <object data="preproc_func/sub-placeholder/sub-placeholder_ses-placeholder_task-placeholder_run-placeholder_tFilter_placeholder_confounds_compA.png"
        style="width:75%"></object>

    <h3 class="h3" style="position:left;font-weight:bold">Temporal CompCor Components
        of sub-placeholder ses-placeholder task-placeholder run-placeholder tFilter_placeholder</h3></h3>
    <p>This panel shows the temporal CompCor components for sub-placeholder ses-placeholder task-placeholder run-placeholder.</p>
    <object data="preproc_func/sub-placeholder/sub-placeholder_ses-placeholder_task-placeholder_run-placeholder_tFilter_placeholder_confounds_compT.png"
        style="width:75%"></object>

    <h3 class="h3" style="position:left;font-weight:bold">ICA Components of
        sub-placeholder ses-placeholder task-placeholder run-placeholder tFilter_placeholder</h3>
    </h3>
    <p>This panel shows the ICA components for sub-placeholder ses-placeholder task-placeholder
        run-placeholder. Left side of the figure shows the correlation between the
        component and the functional image, over time. The right panel shows the
        power spectrum density of this component, with values in Hz on the x-axis.
    </p>
    <object data="preproc_func/sub-placeholder/sub-placeholder_ses-placeholder_task-placeholder_run-placeholder_tFilter_placeholder_ICA_comp_signal.png"
        style="width:75%"></object>

    <p>This panel shows the load of the ICA components within the brain volume.</p>
    <object data="preproc_func/sub-placeholder/sub-placeholder_ses-placeholder_task-placeholder_run-placeholder_tFilter_placeholder_ICA_comp_brain.png"
        style="width:75%"></object>
